
        .titulos{
            color: red;
            padding-left: 20px;
        }

        .imagem{
            width: 100px;
            border-radius: 50%;
        }
        #nome{
            height: 100px;
            vertical-align: 60px;
        }

        .campo{
            font-weight: bold;
            

        }
        .campo::after{
           content: ": ";

        }

        .valor{
            font-style: italic;
        }
        .botoes{
            background-color: rgb(195, 127, 17);
            border-radius: 5px;
            color: white;
            font-weight: bold;
            border: none;
            padding: 8px;
        }
        .paragrafo{
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }

        header{
            padding: 5px;
            height: 15vh;
            
        }
        nav{
            background-color: blue;
        }
        
        aside{
            width: 70%;
        }
        main{
            display: flex;
            height: 70vh;
        }
        article{
            ;
            width: 10%;
        }
        footer{
                        height: 10vh;
        }